{% extends "Template/Template.twig" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-6">
                <h1>{{ Product.Name }}</h1>
                {{ Product.Description | nl2br }}
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6">
                <img
                        style="width: 100%; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;"
                        src="/{{ Product.Images[0].Slug }}"
                />
            </div>
        </div>
    </div>
{% endblock %}